<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/style.css" rel="stylesheet">
	<title><%= todo.title %> - TODO list</title>
</head>
<body>
	<h1 class="todo<%= todo.done ? ' done' : '' %>"><%= todo.title %></h1>
	<p>
		<form method="POST" id="priorityForm" action="/change-priority/<%= todo.id %>"></form>
			<select name="priority" form="priorityForm" onchange="priorityForm.submit()">
				<option value="1" <%= todo.priority == 1 ? 'selected' : '' %>>High priority</option>
				<option value="0" <%= todo.priority == 0 ? 'selected' : '' %>>Normal priority</option>
				<option value="-1" <%= todo.priority == -1 ? 'selected' : '' %>>Low priority</option>
			</select>
		</form>
	</p>
	<p>
		<a href="/remove-todo/<%= todo.id %>">
			remove
		</a>
		&middot;
		<a href="/toggle-done/<%= todo.id %>">
			<%= todo.done ? 'mark not done' : 'mark done' %>
		</a>
	</p>
	<p>
		<form method="POST" action="/rename-todo/<%= todo.id %>">
			<input placeholder="New name" name="title">
			<button type="submit">Rename task</button>
		</form>
	</p>
	<p>
		<a href="/">back to the list</a>
	</p>
</body>
</html>
